.setup-zone__button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: center;
    justify-content: left;
    font-family: 'Dosis-Regular', Roboto, sans-serif;
    width: fit-content;
    gap: 8px;
    height: 64px;
    margin: 8px;
    border: none;
    letter-spacing: 1px;
    color: var(--white);
    cursor: pointer;

    --b: 3px;
    --s: .2em;
    --c: var(--red-wine);
    --_p: var(--s);
    
    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    padding-right: calc(calc(.3em + var(--s)) + .3em);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#b9a9a900 90deg,var(--c) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
}

.setup-zone__button img {
    height: 48px;
    width: 48px;
}

 
.setup-zone__button.pressed {
    --_p: var(--s);
    outline-color: var(--c);
    outline-offset: .05em;
}

.setup-zone__button:hover,
.setup-zone__button:focus-visible{
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
}
  
.setup-zone__button:active {
    background: var(--c);
    color: #fff;
}