.setting-zone {
    display: flex;
    /* position: absolute;
    right: 2%;
    top: 96px; */
    width: 10%;
    flex-flow: column nowrap;
    justify-content: top;
    min-width: fit-content;
    height: fit-content;
}