.main {
    display: flex;
    width: 90%;
    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 15%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}